<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <title>天语星宇-blog-site-个人博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="keywords" content="天语星宇 博客">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="天语星宇的个人博客（hwhtml.github.io">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

  <!-- style -->
  <link href="../../static/css/com.css" rel="stylesheet" type="text/css">
  <link href="../../static/lib/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
  <link href="../../static/css/index.css" rel="stylesheet" type="text/css">
  <link href="../../static/lib/calendar/flexoCalendar.css" rel="stylesheet" type="text/css">
  <!-- style -->

  <!-- javascript -->
  <script src="../../static/lib/jquery-1.7.1.min.js" type="application/javascript"></script>
  <script src="../../static/lib/swiper/js/swiper.min.js" type="application/javascript"></script>
  <script src="../../static/lib/calendar/FlexoCalendar.js" type="application/javascript"></script>
  <!-- javascript -->

</head>
<body>
  <header>
    <div class="c-content clear-fix">
      <div class="logo fl">
        <a href="/"><img src="../../static/logo.png" alt=""></a>
      </div>
      <ul class="fr">
        <li class="fr" style="margin-left: 10px;"><a href="https://github.com/hwhtml">github</a></li>
        <li class="fr"><a href="javascript:void (0)">个人信息</a></li>
      </ul>
    </div>
  </header>

  <!-- main -->
  <section class="c-container" id="main-container">
    <div class="c-content clear-fix">
      <article class="c-main-center fl">

        <div class="account">
          <div class="title">个人信息</div>
          <div class="account-info">
            <div class="info-item">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称： 天宇</div>
            <div class="info-item">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别： 男</div>
            <div class="info-item">联系方式： 505799134（QQ）</div>
            <div class="info-item">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：18379036722@163.com</div>
            <div class="info-item">专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：计算机</div>
          </div>
          <div class="title">专业技能</div>
          <div class="account-info">
            <div class="info-item">1、Vue 使用Vue-cli构建前台 spa应用项目</div>
            <div class="info-item">2、React 使用react-create-app构建前台 spa应用项目</div>
            <div class="info-item">3、小程序编写</div>
            <div class="info-item">4、Node js 服务端搭建</div>
            <div class="info-item">5、Git 版本迭代、协同开发</div>
            <div class="info-item">6、React-Native App 制作</div>
            <div class="info-item">7、html h5 css3 </div>
          </div>
        </div>
      </article>
      <aside class="c-main-right fr c-box">
        <div class="title">当前时间</div>
        <div class="date c-box">
          <p id="date">
            <span>日期 :</span>
            <span id="year">2018</span> 年
            <span id="month">05</span> 月
            <span id="day">30</span> 日
          </p>
          <p id="time">
            <span>时间 :</span>
            <span id="hours">02</span> 时
            <span id="min">20</span> 分
            <span id="sec">45</span> 秒
          </p>
          <p id="week">
            <span>星期 : 周</span>
            <span id="weekdays">一</span>
          </p>
        </div>
        <div class="title">万年历</div>
        <div class="calendar">
          <div class="calendar-wrapper">
            <div id="calendar"></div>
          </div>
        </div>


      </aside>
    </div>
  </section>

  <footer>
    人生漫长的旅程，总是需要伙伴一起走过！！！
  </footer>

  <!-- javascript -->
  <script src="../../static/js/com.js" type="application/javascript"></script>
  <!-- javascript -->
</body>
</html>